{% extends "mvp/base/base.html" %}


{% block title %}
    Easley - Login
{% endblock %}


{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}


{% block content %}
    <div class="container">

        <ol class="breadcrumb">
            <li><a href= {% url 'mvp-home' %}>Home</a></li>
            <li class="active">User access</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Sign in</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Sign in to your account</h3>
                            <p class="text-center text-muted">Pas encore inscrit ? <a href={% url 'mvp-register' %}>Inscription</a>
                            </p>
                            <hr>
                            <form method="POST">
                                {% csrf_token %}
                                <span class="text-danger">{{ form.non_field_errors }}</span>
                                <div class="top-margin">
                                    <label for="id_username">Username/Email:<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="username" maxlength="150"
                                           placeholder="Username"
                                           autofocus required id="id_username">
                                    <span class="text-danger">{{ form.username.errors }}</span>
                                </div>
                                <div class="top-margin">
                                    <label for="id_password">Password:<span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="password" maxlength="150"
                                           placeholder="Password"
                                           autofocus required id="id_password">
                                    <span class="text-danger">{{ form.password.errors }}</span>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <b><a href="">Forgot password?</a></b>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>    <!-- /container -->

{% endblock %}


{% block footer %}
    <section class="container-full top-space">
        <div id="map"></div>
    </section>
{% endblock %}
