{% extends "mvp/base/base.html" %}


{% block title %}
    Easley - Register
{% endblock %}


{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}


{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'mvp-home' %}">Home</a></li>
            <li class="active">Registration</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Registration</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Register a new account</h3>
                            <p class="text-center text-muted">Déjà Inscrit ? <a href= {% url 'mvp-login' %}>Login</a></p>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                <div class="top-margin">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    {# Include the visible fields #}
                                    {% for field in form.visible_fields %}
                                        <span class="text-danger">{{ field.non_field_errors }}</span>
                                        {#    {{ field.non_field_errors }}#}
                                        <div class="fieldWrapper">
                                            <div class="top-margin">
                                                {{ field.label_tag }}
                                                {{ field }}
                                            </div>
                                        </div>
                                        <br>
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                        <span class="text-danger">{{ field.errors }}</span>
                                    {% endfor %}
                                </div>
                                {#                                <div class="row top-margin">#}
                                {#                                    <div class="col-sm-6">#}
                                {#                                        <label for="id_password1">Password <span class="text-danger">*</span></label>#}
                                {#                                        <input type="password" class="form-control" name="password1" maxlength="150"#}
                                {#                                               placeholder="Password"#}
                                {#                                               autofocus required id="id_password1">#}
                                {#                                    </div>#}
                                {#                                    <div class="col-sm-6">#}
                                {#                                        <label for="id_password2">Confirm Password <span#}
                                {#                                                class="text-danger">*</span></label>#}
                                {#                                        <input type="password" class="form-control" name="password2" maxlength="150"#}
                                {#                                               placeholder="Password"#}
                                {#                                               autofocus required id="id_password2">#}
                                {#                                    </div>#}
                                {#                                    <span class="text-danger">{{ form.password1.errors }}</span>#}
                                {#                                    <span class="text-danger">{{ form.password2.errors }}</span>#}
                                {#                                </div>#}
                                {#                                <span class="text-danger">{{ form.non_field_errors }}</span>#}
                                {#                                <hr>#}
                                {#                                <div class="row">#}

                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Article -->
        </div>
    </div>    <!-- /container -->
{% endblock %}


{% block footer %}
    <section class="container-full top-space">
        <div id="map"></div>
    </section>
{% endblock %}
