{% extends 'mvp/generic/content.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% include 'mvp/generic/form.html' %}
        {% if create_client == True or update_client == True %}
            <button class="btn btn-success btn-icon-split" type="submit">
                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                <span class="text">{% if button %}{{ button }}{% else %}Confirmer{% endif %}</span>
            </button>
            <a class="btn btn-secondary btn-icon-split"
                    {% if update_client == True %}
               href={% url 'mvp-client-details' form.instance.company.pk form.instance.pk %}
                       {% else %}href= {% url 'mvp-workspace' %}{% endif %}>
                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                <span class="text">Retour</span>
            </a>
        {% endif %}
    </form>
{% endblock %}
