{% extends 'mvp/generic/content.html' %}
{% load static my_filters %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ object.description }}</h2>
            {% if object.contract.validated == False or user.manager and user.manager.role != 3 %}
                <a class="btn btn-warning btn-icon-split"
                   href= {% url 'mvp-conseil-update' object.contract.company.id object.contract.id object.id %}>
                    <span class="icon text-white-50"><i class="fas fa-exclamation-triangle"></i></span>
                    <span class="text">Modifier ce Conseil</span>
                </a>
                <a class="btn btn-danger btn-icon-split" href="#" data-toggle="modal"
                   data-target="#ConseilDeleteModal">
                    <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                    <span class="text">Supprimer le Conseil</span>
                </a>
            {% endif %}
            <hr>
            <div class="article-metadata">
                <b class="text-gray-900">Client: {{ object.contract.client }}</b><br>
                <b class="text-gray-900">BizDev: {{ object.contract.commercial }}</b><br>
                <b class="text-gray-900">Contrat: {{ object.contract }}</b><br>
            </div>
            <hr>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Prix</th>
                    <th scope="col">Nombre de services</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Date de fin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.price }}</td>
                    <td>{{ object.service_set.count }}</td>
                    <td>{{ object.start_date }}</td>
                    <td>{{ object.duration }}</td>
                    <td>{{ object.end_date }}</td>
                </tr>
                </tbody>
            </table>

            <hr>
            <h4>Services</h4>
            {% if services %}
                <table class="table table-hover table-bordered text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 50px">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date prévue</th>
                        <th scope="col" style="width: 500px">Date effective</th>
                        <th scope="col">Prix</th>
                        <th scope="col" style="width: 200px">Jour-Hommes Senior</th>
                        <th scope="col" style="width: 200px">Jour-Hommes Junior</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {{ service.description }}
                                {% if not object.contract.validated %}
                                    <a href="#" class="btn btn-danger btn-circle btn-sm" title="Supprimer prestation"
                                       data-toggle="modal" data-target="#ServiceDeleteModal"
                                       onclick="PrepareDeleteService({{ service.id }})">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ service.estimated_date }}</td>
                            {% if service.done %}
                                <th>{{ service.done|ServiceStatusFilter:service.actual_date }}</th>
                            {% else %}
                                {% if user.manager and user.manager.role != 3 %}
                                    <th>
                                        <div class="row">
                                            <div id="end_date_status" class="col">
                                                {{ service.done|ServiceStatusFilter }}
                                            </div>
                                            <div id="end_date_status_{{ service.id }}" class="col">
                                                <a class="btn btn-success btn-circle btn-sm"
                                                   title="Entrer la date effective"
                                                   onclick="showEndDate({{ service.id }})">
                                                    <i class="far fa-calendar"></i>
                                                </a>
                                                <a href="#" class="btn btn-warning btn-circle btn-sm"
                                                   title="ne sera jamais effectué"
                                                   data-toggle="modal" data-target="#NeverDoneModal"
                                                   onclick="PrepareneverDone({{ service.id }})">
                                                    <i class="far fa-times-circle"></i>
                                                </a>
                                            </div>
                                            <div id="end_date_form_container_{{ service.id }}" class="col" hidden>
                                                <form method="post" id="end_date_form">
                                                    {% csrf_token %}
                                                    {#                                                    <input class="datepicker-dropdown">#}
                                                    <input name="service_id" id="service_id" value="{{ service.id }}"
                                                           hidden>
                                                    <input name="end_date" id="end_date" title="Date Effective"
                                                           data-toggle="datepicker" style="height: 10px; width: 65%">
                                                    <button href="#" class="btn btn-success btn-circle btn-sm"
                                                            type="submit"
                                                            title="Confirmer">
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                    <button href="#" class="btn btn-danger btn-circle btn-sm"
                                                            title="Annuler" onclick="hideEndDate({{ service.id }})"
                                                            type="reset">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </th>
                                {% else %}
                                    <th>{{ service.done|ServiceStatusFilter }}</th>
                                {% endif %}
                            {% endif %}
                            <td>{{ service.price|currency }}</td>
                            <td>{{ service.senior_day }}</td>
                            <td>{{ service.junior_day }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Ce conseil n'as pas de services pour l'instant.<br>
            {% endif %}
            <hr>
            {% if object.contract.validated == False %}
                <!-- Collapsible Client Form -->
                <div class="card shadow mb-4">
                    <!-- Client Form - Accordion -->
                    <a href="#collapseServiceForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
                       aria-expanded="true" aria-controls="collapseServiceForm">
                        <button class="btn btn-primary btn-icon-split" type="submit">
                            <span class="icon text-white-50"><i class="fas fa-plus-circle"></i></span>
                            <span class="text">Nouveau Service</span>
                        </button>
                    </a>

                    <!-- Card Client Form - Collapse -->
                    <div class="collapse hide" id="collapseServiceForm">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {% include 'mvp/generic/form.html' with form=serviceForm %}
                                <button class="btn btn-success btn-icon-split" type="submit">
                                    <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                    <span class="text">Ajouter un Service</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <a class="btn btn-primary btn-icon-split"
               href= {% url 'mvp-contract-details' object.contract.company.id object.contract.id %}>
                <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
                <span class="text">Retour au Contrat</span>
            </a>
            <a class="btn btn-secondary btn-icon-split"
               href= {% url 'mvp-contract-details' object.contract.company.id object.contract.id %}>
                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                <span class="text">Retour</span>
            </a>
            <br>
        </div>
    </article>
    <hr>


    <!-- Conseil Delete Modal-->
    <div class="modal fade" id="ConseilDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="ConseilDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ConseilDeleteModalLabel">Supprimer ce conseil ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Êtes-vous sûr de vouloir supprimer ce Conseil ?
                    <span class="text-danger">(cette action est irréversible)</span>
                </div>
                {% if services %}
                    <div class="modal-content modal-body">Cela supprimera le(s) Service(s) suivant(s) :<br>
                        <hr>
                        {% for service in services %}
                            <span class="text-danger">{{ service.description }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <form id="delete_form" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-icon-split" onclick="myFunction()" type="submit">
                            <input type="hidden" id="delete_conseil" name="delete_conseil" value="false">
                            <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                            <span class="text">Suprimer le conseil.</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Service Delete Modal-->
    <div class="modal fade" id="ServiceDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="ServiceDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ServiceDeleteModalLabel">Supprimer ce Service ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Êtes-vous sûr de vouloir supprimer ce Service ?
                    <span class="text-danger">(cette action est irréversible)</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <form id="delete_service_form" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-icon-split" onclick="deleteService()">
                            <input type="hidden" id="delete_service" name="delete_service" value="false">
                            <input type="hidden" id="service_id_delete" name="service_id_delete">
                            <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                            <span class="text">Suprimer le service.</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--  NeverDone Modal-->
    <div class="modal fade" id="NeverDoneModal" tabindex="-1" role="dialog"
         aria-labelledby="NeverDoneModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="NeverDoneModalLabel">Marquer ce service comme "Jamais Effectué" ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Êtes-vous sûr de vouloir marquer ce service comme "Jamais Effectué" ?
                    <span class="text-danger">(cette action est irréversible)</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <form id="never_end_service_form" method="post">
                        {% csrf_token %}
                        <button class="btn btn-warning btn-icon-split" onclick="neverDone()">
                            <input type="hidden" id="never_end_service" name="never_end" value="false">
                            <input type="hidden" id="service_id_never_end" name="service_id_end">
                            <span class="icon text-white-50"><i class="fas fa-exclamation-triangle"></i></span>
                            <span class="text">Ce service ne sera jamais effectué.</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}



{% block page_title %}
    Easley - Conseil
{% endblock %}


{% block page_heading %}
    Détails des prestations.
{% endblock %}


{% block content_heading %}
    Rentrer les informations nécessaires à la création du conseil.
{% endblock %}

{% block links %}
    <link rel="stylesheet" href={% static 'mvp/datepicker/datepicker.css' %}>
{% endblock %}

{% block scripts %}
    <script>
        function myFunction() {
            document.getElementById("delete_conseil").value = true;
            document.getElementById("delete_form").submit();
        }
    </script>
    <script>
        function PrepareneverDone(service_id) {
            document.getElementById("service_id_never_end").value = service_id;
        }
    </script>
    <script>
        function neverDone() {
            document.getElementById("never_end_service").value = "true";
            document.getElementById("never_end_service_form").submit();
        }
    </script>
    <script>
        function PrepareDeleteService(service_id) {
            document.getElementById("service_id_delete").value = service_id;
        }
    </script>
    <script>
        function deleteService() {
            document.getElementById("delete_service").value = "true";
            document.getElementById("delete_service_form").submit();
        }
    </script>
    <script>
        function showEndDate(service_id) {
            let a = "end_date_form_container_" + service_id;
            let b = "end_date_status_" + service_id;
            document.getElementById(a).hidden = false;
            document.getElementById(b).hidden = true;
        }
    </script>
    <script>
        function hideEndDate(service_id) {
            let a = "end_date_form_container_" + service_id;
            let b = "end_date_status_" + service_id;
            document.getElementById(a).hidden = true;
            document.getElementById(b).hidden = false;
        }
    </script>
    <script src= {% static 'mvp/datepicker/datepicker.js' %}></script>
    <script src= {% static 'mvp/datepicker/datepicker.fr-FR.js' %}></script>
    <script>
        $('[data-toggle="datepicker"]').datepicker({
            language: 'fr-FR',
            autoHide: true,
            inline: true,
        });
    </script>
{% endblock %}