{% extends 'mvp/generic/content.html' %}
{% load static %}

{% block content %}
    {% if user.manager and user.manager.role != 3 %}
        <!-- Collapsible Client List -->
        <div class="card shadow mb-4">
            <!-- Client List - Accordion -->
            <a href="#collapseClientList" class="d-block card-header py-3" data-toggle="collapse" role="button"
               aria-expanded="true" aria-controls="collapseClientList">
                <h6 class="m-0 font-weight-bold text-primary">Depuis mes clients.</h6>
            </a>
            <!-- Card List Client - Collapse -->
            <div class="collapse hide" id="collapseClientList">
                <div class="card-body">
                    <div class="table-responsive">
                        {% if not client_list %}
                            Vous n'avez actuellement aucun client.
                        {% else %}
                            <table class="table table-bordered" id="dataTable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Responsable Clientèle</th>
                                </tr>
                                </thead>
                                <tfoot class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Responsable Clientèle</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for client in client_list %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>
                                            <a href= {% url 'mvp-contract-form' client.company.id client.id %}>{{ client.name }}</a>
                                        </td>
                                        <td>{{ client.email }}</td>
                                        <td>{{ client.account_manager }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Collapsible Client Form -->
    <div class="card shadow mb-4">
    <!-- Client Form - Accordion -->
    <a href="#collapseClientForm" class="d-block card-header py-3" data-toggle="collapse" role="button"
       aria-expanded="true" aria-controls="collapseClientForm">
        <button class="btn btn-primary btn-icon-split" type="submit">
            <span class="icon text-white-50"><i class="fas fa-plus-circle"></i></span>
            <span class="text">Nouveau Client</span>
        </button>
    </a>

    <!-- Card Client Form - Collapse -->
    {% if post %}
        <div class="collapse show" id="collapseClientForm">
    {% else %}
        <div class="collapse hide" id="collapseClientForm">
    {% endif %}
<div class="card-body">
    <form method="post">
        {% csrf_token %}
        {% include 'mvp/generic/form.html' %}
        <button class="btn btn-success btn-icon-split" type="submit">
            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
            <span class="text">Ajouter un client</span>
        </button>
        <a class="btn btn-secondary btn-icon-split" href= {% url 'mvp-workspace' %}>
            <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
            <span class="text">Retour</span>
        </a>
    </form>
</div>
</div>
</div>

{% endblock %}


{% block page_title %}
    Easley - Nouveau Contrat [Client]
{% endblock %}


{% block page_heading %}
    Créer un Contrat
{% endblock %}


{% block content_heading %}
    Sélectionner le client cible du contrat.
{% endblock %}


{% block links %}
    <link rel="stylesheet" href= {% static 'mvp/vendor/datatables/dataTables.bootstrap4.min.css' %}>
{% endblock %}


{% block scripts %}
    <!-- Table Page level plugins -->
    <script src={% static 'mvp/vendor/datatables/jquery.dataTables.min.js' %}></script>
    <script src={% static 'mvp/vendor/datatables/dataTables.bootstrap4.min.js' %}></script>

    <!-- Table Page level custom scripts -->
    <script src={% static 'mvp/js/demo/datatables-demo.js' %}></script>

{% endblock %}
