{% extends 'mvp/generic/content.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ object.description }}</h2>
            {% if not object.validated and user.commercial or user.manager and user.manager.role == 1 %}
                <a class="btn btn-warning btn-icon-split"
                   href= {% url 'mvp-contract-update' object.company.id object.id %}>
                    <span class="icon text-white-50"><i class="fas fa-exclamation-triangle"></i></span>
                    <span class="text">Modifier ce contrat</span>
                </a>
                <a class="btn btn-danger btn-icon-split" href="#" data-toggle="modal"
                   data-target="#ContractDeleteModal">
                    <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                    <span class="text">Supprimer le contrat</span>
                </a>
            {% endif %}
            <hr>
            <div class="article-metadata">
                <b class="text-gray-900">Client: {{ object.client }}</b><br>
                <b class="text-gray-900">BizDev: {{ object.commercial }}</b><br>
                <b class="text-gray-900">Responsable Clientèle: {{ object.client.account_manager }}</b><br>
                <b class="text-gray-900">Responsable Facturation: {{ object.factu_manager }}</b><br>
                <div class="row">
                    <div class="col">{{ object.start_date }}</div>
                    <div class="col-9">
                        <div class="progress progress-sm mb-2">
                            <div class="progress-bar" role="progressbar" style="width: {{ progression }}%"></div>
                        </div>
                    </div>
                    <div class="col">{{ object.end_date }}</div>
                </div>
            </div>
            <hr>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Prix</th>
                    <th scope="col">Facturation</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="article-content">{{ object.price|currency }}</td>
                    <td class="article-content">{{ object.facturation|Fduration }}</td>
                    <td class="article-content">{{ object.start_date }}</td>
                    <td class="article-content">{{ object.end_date }}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Licence(s)</th>
                    <th scope="col">Conseil(s)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% if licenses %}
                            {% for license in licenses %}
                                <div class="row" style="height: 15px">
                                    <div class="col-md-4">
                                        <h4>
                                            <a href= {% url 'mvp-license-details' object.company.id object.id license.id %}>
                                                {{ license|truncatechars:30 }}
                                            </a></h4>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        {{ license.price|currency }}
                                    </div>
                                    <div class="col-md-4 align-right">
                                        du {{ license.start_date }} au {{ license.end_date }}
                                    </div>
                                </div>
                                <br>
                                <hr>
                            {% endfor %}
                        {% else %}
                            Ce contrat n'as pas de licence actuellement.
                            <hr><br>
                        {% endif %}
                        {% if not object.validated %}
                            <a class="btn btn-success btn-icon-split" href=
                                    {% url 'mvp-license-new' object.company.id object.id %}>
                                <span class="icon text-white-50"><i class="fas fa-plus-square"></i></span>
                                <span class="text">Ajouter une licence</span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if conseils %}
                            {% for conseil in conseils %}
                                <div class="row" style="height: 15px">
                                    <div class="col-md-4">
                                        <h4>
                                            <a href= {% url 'mvp-conseil-details' object.company.id object.id conseil.id %}>
                                                {{ conseil|truncatechars:30 }}
                                            </a></h4>
                                    </div>
                                    <div class="col-md-3 text-center">
                                        {{ conseil.price|currency }}
                                    </div>
                                    <div class="col-md-4">
                                        du {{ conseil.start_date }} au {{ conseil.end_date }}
                                    </div>
                                </div>
                                <br>
                                <hr>
                            {% endfor %}
                        {% else %}
                            Ce contrat n'as pas de conseil actuellement.
                            <hr><br>
                        {% endif %}
                        {% if not object.validated %}
                            <a class="btn btn-success btn-icon-split" href=
                                    {% url 'mvp-conseil-new' object.company.id object.id %}>
                                <span class="icon text-white-50"><i class="fas fa-plus-square"></i></span>
                                <span class="text">Ajouter un conseil</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <a class="btn btn-secondary btn-icon-split"
               href= {% url 'mvp-contract-list' object.company.id %}>
                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                <span class="text">Retour à la liste des Contrats</span>
            </a>
            {% if not object.validated and user.commercial or user.manager and user.manager.role == 1 %}
                <hr>
                <form method="post">
                    {% if not object.validated %}
                        {% csrf_token %}
                        <button class="btn btn-success btn-icon-split btn-lg" type="submit" name="validate">
                            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                            <span class="text">Valider le contrat.</span>
                        </button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
    </article>

    <!-- Contract Delete Modal-->
    <div class="modal fade" id="ContractDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="ContractDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ContractDeleteModalLabel">Supprimer ce contrat ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Êtes-vous sûr de vouloir supprimer ce contrat ?
                    <span class="text-danger">(cette action est irréversible)</span>
                </div>
                {% if licenses or conseils %}
                    <div class="modal-content modal-body">Cela supprimera les éléments suivants :<br>
                        {% for license in licenses %}
                            {{ license.description }}<br>
                        {% endfor %}
                        <hr>
                        {% for conseil in conseils %}
                            {{ conseil.description }}<br>
                        {% endfor %}
                        <hr>
                        {% for invoice in invoices %}
                            {{ invoice.description }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <form id="delete_form" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-icon-split" onclick="myFunction()" type="submit">
                            <input type="hidden" id="delete_contract" name="delete_contract" value="false">
                            <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                            <span class="text">Suprimer le contrat.</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function myFunction() {
            document.getElementById("delete_contract").value = true;
            document.getElementById("delete_form").submit();
        }
    </script>
{% endblock %}