{% extends 'mvp/generic/table.html' %}

{% block table %}
    {% if not object_list %}
        Vous n'avez actuellement aucune facture.
    {% else %}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Facture</th>
                <th scope="col">Client</th>
                <th scope="col">Prix</th>
                <th scope="col">Services</th>
                <th scope="col">Licenses</th>
                <th scope="col">Responsable facturation</th>
            </tr>
            </thead>
            <tfoot class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Conseil</th>
                <th scope="col">Client</th>
                <th scope="col">Prix</th>
                <th scope="col">Services</th>
                <th scope="col">Licenses</th>
                <th scope="col">Responsable facturation</th>
            </tr>
            </tfoot>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href= {% url 'mvp-invoice-details' object.company.id object.id %}>{{ object.description }}</a>
                    </td>
                    <td>{{ object.contract.client|truncatechars:30 }}</td>
                    <td>{{ object.price|safe }}</td>
                    <td>
                        {% if object.conseils.all %}
                            {% for conseil in  object.conseils.all %}
                                <a href= {% url 'mvp-conseil-details' object.company.id object.contract.id conseil.id %}>{{ conseil.description }}</a>
                                <br>
                            {% endfor %}
                        {% else %}
                            Aucun Conseil associé.
                        {% endif %}
                    </td>
                    <td>
                        {% if object.licenses.all %}
                            {% for license in  object.licenses.all %}
                                <a href= {% url 'mvp-license-details' object.company.id object.contract.id license.id %}>{{ license.description }}</a>
                                <br>
                            {% endfor %}
                        {% else %}
                            Aucune License associée.
                        {% endif %}
                    </td>
                    <td>{{ object.contract.factu_manager|safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block page_title %}
    Easley - Liste de vos Factures
{% endblock %}
{% block page_heading %}
    Vos Factures
{% endblock %}
{% block content_heading %}
    Liste de toutes vos factures
{% endblock %}