{% extends 'mvp/generic/content.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <a class="btn btn-secondary btn-icon-split"
               href= {{ request.META.HTTP_REFERER }}>
                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                <span class="text">Retour</span>
            </a><br>
            <h2 class="article-title">{{ object.description }}</h2>
            <hr>
            <div class="article-metadata">
                <b class="text-gray-900">Client: {{ object.client }}</b><br>
                <b class="text-gray-900">BizDev: {{ object.commercial }}</b><br>
            </div>
            <hr>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de début</th>
                    <th scope="col">Duréee</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="article-content">{{ object.price }}</td>
                    <td class="article-content">{{ object.start_date|date:"d F, Y" }}</td>
                    <td class="article-content">{{ object.duration }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
    {% if not object.contact.validated %}
        {#    {% if details and user.commercial and object.commercial == user.commercial or details and user.manager and user.manager.role != 3 %}#}
        <a class="btn btn-warning btn-icon-split"
           href= {% url 'mvp-license-update' object.contract.company.id object.contract.id object.id %}>
            <span class="icon text-white-50"><i class="fas fa-exclamation-triangle"></i></span>
            <span class="text">Modifier ces informations</span>
        </a>
    {% endif %}
    <hr>
{% endblock %}
