{% extends 'mvp/generic/content.html' %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% include 'mvp/generic/form.html' %}
        {% if not form.intance.contact.validated %}
            <button class="btn btn-success btn-icon-split" type="submit">
                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                <span class="text">{% if button %}{{ button }}{% else %}Confirmer{% endif %}</span>
            </button>
            <a class="btn btn-secondary btn-icon-split"
               href= {{ request.META.HTTP_REFERER}}>
                <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                <span class="text">Retour</span>
            </a>
        {% endif %}
    </form>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href= {% static 'mvp/datepicker/datepicker.css' %} >
<script src= {% static 'mvp/datepicker/datepicker.js' %}></script>
<script src= {% static 'mvp/datepicker/datepicker.fr-FR.js' %}></script>
<script>
    $('[data-toggle="datepicker"]').datepicker({
        language: 'fr-FR',
        autoHide: true,
        inline: true,
    });
</script>
{% endblock %}