{% extends 'mvp/generic/blank.html' %}
{% load static %}
{% load my_filters %}

{% block page %}
    <!-- Content Row -->
    <div class="row">

        <!-- Prime (par mois) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Services à valider
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nb_services_to_validate }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Prime (par année) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">À Facturer
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ invoice_to_facture.count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Prile (par année) Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">A encaisser ce
                                mois-ci
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Lol</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Créances ce mois-ci
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">LOL</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4 bg-gray-300">
        <div class="card-body">

            <!-- Collapsable Card Services À Valider -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardToFacture" class="d-block card-header py-3" data-toggle="collapse" role="button"
                   aria-expanded="true" aria-controls="collapseCardtoFacture">
                    <h5 class="m-0 font-weight-bold text-primary">Services À Valider</h5>
                </a>

                <!-- Card Content À Facturer - Collapse -->
                <div class="collapse show" id="collapseCardToFacture">
                    <div class="card-body">
                        {% if not services %}
                            Vous n'avez actuellement aucun Service à Valider.
                        {% else %}
                            <div class="table-responsive text-center">
                                <table class="table table-bordered table-hover" id="dataTable" style="width: 100%">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="col-md-3" scope="col">Service</th>
                                        <th class="col-md-2" scope="col">Client</th>
                                        <th class="col-md-1" scope="col">Prix</th>
                                        <th class="col-md-2" scope="col">Date estimée</th>
                                        <th class="col-md-1" scope="col">Voir le conseil</th>
                                        <th class="col-auto" scope="col">Effectué ?</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for service in services %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ service.description }}</td>
                                            <td>{{ service.conseil.contract.client|truncatechars:30 }}</td>
                                            <td>{{ service.price|currency }}</td>
                                            <td>{{ service.estimated_date }}</td>
                                            <td class="text-center">
                                                <a href=  {% url 'mvp-conseil-details' service.conseil.contract.company.id service.conseil.contract.id service.conseil.id %}>
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            </td>
                                            {% if service.actual_date %}
                                                <td>
                                                    {{ service.done|ServiceStatusFilter }} le
                                                    : {{ service.actual_date }}
                                                </td>
                                            {% else %}
                                                <th>
                                                    {{ service.done|ServiceStatusFilter }}
                                                </th>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div><!-- Card Content À Facturer - End -->


            <hr>


        </div>
    </div>
{% endblock %}

{% block page_title %}
    Easley - Tableau de Bord
{% endblock %}

{% block page_heading %}
    Votre Tableau de bord
{% endblock %}

