{% extends "mvp/base/base.html" %}


{% block title %}
    Easley - Client Details
{% endblock %}


{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}


{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'mvp-home' %}">Home</a></li>
            <li><a href="{% url 'mvp-workspace' %}">Workspace</a></li>
            {% if delete %}
                <li class="active">Delete Client</li>
            {% else %}
                <li class="active">Client Details</li>
            {% endif %}
        </ol>

        <div class="row">
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    {% if delete %}
                        <h1 class="page-title">Delete Client</h1>
                    {% else %}
                        <h1 class="page-title">Client details</h1>
                    {% endif %}
                </header>
                <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if delete %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                                    <a class="btn btn-action"
                                       href= {% url 'mvp-client-details' object.company.id object.id %}>
                                        No, Come Back</a>
                                </form>
                                <hr>
                            {% endif %}
                            <article class="media content-section">
                                <div class="media-body">
                                    <h2><a class="article-title" href="#">{{ object.name }}</a></h2>
                                    <hr>
                                    <div class="article-metadata">
                                        <h4 class="mr-2">{{ object.email }}</h4>
                                        <small class="text-muted">{{ object.company }}</small>
                                    </div>
                                    <p class="article-content">{{ post.content }}</p>
                                </div>
                            </article>
                            {% if user.commercial and object.commercial == user.commercial %}
                                {% if button_update %}
                                    <a class="btn btn-action"
                                       href= {% url 'mvp-client-update' user.commercial.company.id object.id %}>
                                        {{ button_update }}
                                    </a>
                                {% endif %}
                                {% if button_delete %}
                                    <a class="btn btn-action"
                                       href= {% url 'mvp-client-delete' user.commercial.company.id object.id %}>
                                        {{ button_delete }}
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if user.manager %}
                                {% if user.manager.role == 1 or user.manager.role == 2 %}
                                    {% if button_update %}
                                        <a class="btn btn-action"
                                           href= {% url 'mvp-client-update' user.manager.company.id object.id %}>
                                            {{ button_update }}
                                        </a>
                                    {% endif %}
                                    {% if button_delete %}
                                        <a class="btn btn-action"
                                           href= {% url 'mvp-client-delete' user.manager.company.id object.id %}>
                                            {{ button_delete }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Article -->
        </div>
    </div>    <!-- /container -->
{% endblock %}

{% block footer %}
    <section class="container-full top-space">
        <div id="map"></div>
    </section>
{% endblock %}