{% extends "mvp/base/base.html" %}


{% block title %}
    Easley - Client List
{% endblock %}


{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}


{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'mvp-home' %}">Home</a></li>
            <li><a href="{% url 'mvp-workspace' %}">Workspace</a></li>
            <li class="active">Client List</li>
        </ol>

        <div class="row">
            <!-- Article main content -->
            <article class="maincontent">
                <header class="page-header">
                    <h1 class="page-title">Client List</h1>
                </header>
                {#                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">#}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-hover table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Commercial</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in client_list %}
                                    <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td><a href= {% url 'mvp-client-details' client.company.id client.id %}>{{ client.name }}</a></td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.commercial }}</td>
                                {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article><!-- /Article -->
        </div>
    </div><!-- /container -->
{% endblock %}

{% block footer %}

    <section class="container-full top-space">
        <div id="map"></div>
    </section>
{% endblock %}