{% extends "mvp/base/base.html" %}


{% block title %}
    Easley - Ceo Workspace
{% endblock %}


{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}


{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'mvp-home' %}">Home</a></li>
            <li class="active">Workspace</li>
        </ol>

        <div class="row">
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Your Workspace</h1>
                </header>
                <div class="col-md-12 ">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a class="btn btn-action" href={% url 'mvp-client-list' user.manager.company.id user.manager.id %}>Liste des
                                Clients
                            </a>
                            <a class="btn btn-action" href={% url 'mvp-service-list' user.manager.company.id user.manager.id %}>Liste
                                des Services
                            </a>
                            <a class="btn btn-action" href={% url 'mvp-license-list' user.manager.company.id user.manager.id %}>Liste
                                des Licenses
                            </a>
                            <hr>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav ">
                                    <li><a class="btn" href= {% url 'mvp-client-new' user.manager.company.id %}>Ajouter un Client</a></li>
                                    <li><a class="btn" href= {% url 'mvp-service-new' user.manager.company.id %}>Ajouter un Service</a></li>
                                    <li><a class="btn" href= {% url 'mvp-license-new' user.manager.company.id %}>Ajouter une License</a></li>
                                </ul>
                            </div>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                            <hr>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /Article -->
        </div>
    </div>    <!-- /container -->
{% endblock %}

{% block footer %}
    <section class="container-full top-space">
        <div id="map"></div>
    </section>
{% endblock %}
