{% extends 'mvp/generic/anonymous.html' %}

{% block content %}
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="alert alert-success text-center">
                Un message vous a été envoyé pour refaire votre MDP.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr>
            <div class="content text-center">
                Vous n'avez pas reçu le mail ?
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <a class="btn  btn-primary btn-lg" href= {% url 'mvp_password_reset' %}>Essayer à nouveau</a>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}
    Easley - Reset Password
{% endblock %}
