{% extends 'mvp/generic/anonymous.html' %}

{% block content %}
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->

                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Créer un compte.</h1>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {% include 'mvp/generic/form.html' %}
                            <button class="btn btn-success btn-icon-split" type="submit">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">{% if button %}{{ button }}{% else %}
                                    Confirmer{% endif %}</span>
                            </button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block page_title %}
    Easley - Register
{% endblock %}


{% block page_heading %}
    Inscription
{% endblock %}


{% block content_heading %}
    Créer votre compte.
{% endblock %}
