{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-easley-blue sidebar toggled sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center bg-easley-blue" href= {% url 'mvp-home' %}>
        <img alt="Accueil" style="width: 100%" src={% static 'mvp/Easley_logo.png' %}>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li {% if section == 'workspace' %}class="nav-item active"{% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href= {% url 'mvp-workspace' %}>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Mon résumé</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Mon espace
    </div>

    {% if user.manager %}

        {% if user.manager.role == 1 or user.manager.role == 2 %}

            <!-- Nav Item - Contract Collapse Menu -->
            <li {% if section == "contract" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContract"
                   aria-expanded="true" aria-controls="collapseContract">
                    <i class="fas fa-file-contract"></i>
                    <span>Contrats</span>
                </a>

                <!-- Nav Item - Contract Collapse content -->
                <div id="collapseContract" class="collapse" aria-labelledby="headingContract"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gérez vos contrats:</h6>
                        <a {% if create_contract %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-contract-new' user.manager.company.id %}>
                            <i class="fas fa-file-signature"></i> Créer un contrat</a>
                        <a {% if list_contract %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-contract-list' user.manager.company.id %}>
                            Tous mes contrats.</a>
                    </div>
                </div><!-- End Nav Item - Contract Collapse content -->
            </li><!-- End Nav Item - Contract Collapse menu -->

            <!-- Nav Item - Client Collapse Menu -->
            <li {% if section == "client" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClient"
                   aria-expanded="true" aria-controls="collapseClient">
                    <i class="fas fa-user-friends"></i>
                    <span>Clients</span>
                </a>

                <!-- Nav Item - Client Collapse content -->
                <div id="collapseClient" class="collapse" aria-labelledby="headingClient"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gérez vos clients:</h6>
                        <a {% if create_client %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-client-new' user.manager.company.id %}>
                            <i class="fas fa-user-plus"></i> Créer un client</a>
                        <a {% if list_client %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-client-list' user.manager.company.id user.manager.id %}>
                            Tous mes clients</a>
                    </div>

                </div><!-- End Nav Item - Client Collapse content -->
            </li><!-- End Nav Item - Client Collapse menu -->

        {% elif user.manager.role == 3 %}
            <!-- Nav Item - Contract -->
            <li {% if section == "contract" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link"
                   href= {% url 'mvp-contract-list' user.manager.company.id %}>
                    <i class="fas fa-file-contract"></i>
                    <span>Contract</span></a>
            </li>

            <!-- Nav Item - Client -->
            <li {% if section == "client" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link"
                   href= {% url 'mvp-client-list' user.manager.company.id user.manager.id %}>
                    <i class="fas fa-user"></i>
                    <span>Clients</span></a>
            </li>

        {% endif %}

        {% if user.manager.role == 1 or user.manager.role == 3 %}

            <!-- Nav Item - Invoice -->
            <li {% if section == "invoice" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link"
                   href= {% url 'mvp-invoice-list' user.manager.company.id %}>
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span>Factures</span></a>
            </li>
        {% endif %}

    {% elif user.commercial %}

            <!-- Nav Item - Contract Collapse Menu -->
            <li {% if section == "contract" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseContract"
                   aria-expanded="true" aria-controls="collapseContract">
                    <i class="fas fa-file-contract"></i>
                    <span>Contrats</span>
                </a>

                <!-- Nav Item - Contract Collapse content -->
                <div id="collapseContract" class="collapse" aria-labelledby="headingContract"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gérez vos contrats:</h6>
                        <a {% if create_contract %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-contract-new' user.commercial.company.id %}>
                            <i class="fas fa-file-signature"></i> Créer un contrat</a>
                        <a {% if list_contract %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-contract-list' user.commercial.company.id %}>
                            Tous mes contrats.</a>
                    </div>
                </div><!-- End Nav Item - Contract Collapse content -->
            </li><!-- End Nav Item - Contract Collapse menu -->


            <!-- Nav Item - Client Collapse Menu -->
            <li {% if section == "client" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClient"
                   aria-expanded="true" aria-controls="collapseClient">
                    <i class="fas fa-user-friends"></i>
                    <span>Clients</span>
                </a>

                <!-- Nav Item - Client Collapse content -->
                <div id="collapseClient" class="collapse" aria-labelledby="headingClient"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gérez vos clients:</h6>
                        <a {% if create_client %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-client-new' user.commercial.company.id %}>
                            <i class="fas fa-user-plus"></i> Créer un client</a>
                        <a {% if list_client %}class="collapse-item active" {% else %}class="collapse-item"{% endif %}
                           href= {% url 'mvp-client-list' user.commercial.company.id user.commercial.id %}>
                            Tous mes clients</a>
                    </div>

                </div><!-- End Nav Item - Client Collapse content -->
            </li><!-- End Nav Item - Client Collapse menu -->

    {% endif %}

    {% if user.manager.role == 1 %}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            My Company
        </div>

        <!-- Nav Item - Licenses -->
        <li {% if section == "conseil" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
            <a class="nav-link"
               href= {% url 'mvp-workspace' %}>
                <i class="fas fa-chart-pie"></i>
                <span>Mon Résumé</span></a>
        </li>

        <!-- Nav Item - Licenses -->
        <li {% if section == "client" %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
            <a class="nav-link"
               href= {% url 'mvp-workspace' %}>
                <i class="fas fa-chart-line"></i>
                <span>Mes KPI</span></a>
        </li>

    {% endif %}


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Logout -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-user-slash"></i>
            <span>Logout</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

