{% extends "mvp/base.html" %}


{% block title %}
    Easley - Register
{% endblock %}


{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}


{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'mvp-home' %}">Home</a></li>
            <li class="active">Registration</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Registration</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Register a new account</h3>
                            <p class="text-center text-muted">Déjà Inscrit ? <a href="login.html">Login</a></p>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                <div class="top-margin">
                                    <th><label for="id_first_name">First Name:<span class="text-danger">*</span></label>
                                    </th>
                                    <td><input type="text" class="form-control" name="first_name" maxlength="150"
                                               autofocus required id="id_first_name"
                                               value="{{ form.cleaned_data.first_name }}"></td>
                                    <span class="text-danger">{{ form.first_name.errors }}</span>
                                </div>
                                <div class="top-margin">
                                    <th><label for="id_last_name">Last Name:<span class="text-danger">*</span></label>
                                    </th>
                                    <td><input type="text" class="form-control" name="last_name" maxlength="150"
                                               autofocus required id="id_last_name"
                                               value="{{ form.cleaned_data.last_name }}"></td>
                                    <span class="text-danger">{{ form.last_name.errors }}</span>
                                </div>
                                <div class="top-margin">
                                    <th><label for="id_email">Email:<span class="text-danger">*</span></label></th>
                                    <td><input type="text" class="form-control" name="email" maxlength="150" autofocus
                                               required id="id_email" value="{{ form.cleaned_data.email }}"></td>
                                    <span class="text-danger">{{ form.email.errors }}</span>
                                    <br><span
                                        class="help text">Contact Email (can be different than your username).</span>
                                </div>
                                <hr>
                                <div class="top-margin">
                                    <th><label for="id_username">Username:<span class="text-danger">*</span></label>
                                    </th>
                                    <td><input type="text" class="form-control" name="username" maxlength="150"
                                               autofocus required id="id_username"
                                               value="{{ form.cleaned_data.username }}"></td>
                                    <span class="text-danger">{{ form.username.errors }}</span>
                                    <br><span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                                </div>
                                <div class="row top-margin">
                                    <div class="col-sm-6">
                                        <label for="id_password1">Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" name="password1" maxlength="150"
                                               autofocus required id="id_password1">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="id_password2">Confirm Password <span
                                                class="text-danger">*</span></label>
                                        <input type="password" class="form-control" name="password2" maxlength="150"
                                               autofocus required id="id_password2">
                                    </div>
                                    <span class="text-danger">{{ form.password1.errors }}</span>
                                    <span class="text-danger">{{ form.password2.errors }}</span>
                                </div>
                                <span class="text-danger">{{ form.non_field_errors }}</span>
                                <hr>
                                <div class="row">
                                    {#                                    <div class="col-lg-10">#}
                                    {#                                        <label for="id_ceo" class="checkbox">#}
                                    {#                                            <input for="id_terms" name="terms" type="checkbox">#}
                                    {#                                            I've read the <a href="page_terms.html">Terms and Conditions</a>#}
                                    {#                                        </label>#}
                                    {#                                    </div>#}
                                    <div class="col-lg-9">
                                        <label for="id_ceo" class="checkbox">
                                            <input for="id_ceo" name="ceo" type="checkbox">
                                            Je suis CEO et je souhaite créer mon Entreprise.
                                        </label>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <button class="btn btn-action" type="submit">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->
        </div>
    </div>    <!-- /container -->
{% endblock %}


{% block footer %}

{% endblock %}
