{#{% load crispy-forms %}#}


{# Include the hidden fields #}
<div class="top-margin">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <span class="text-danger">{{ field.non_field_errors }}</span>
        {#    {{ field.non_field_errors }}#}
        <div class="fieldWrapper">
            <div class="top-margin">
                {{ field.label_tag }}
                {{ field }}
            </div>
        </div>
        <br>
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <span class="text-danger">{{ field.errors }}</span>
    {% endfor %}
</div>